.location-pin-svg {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
}

.location-pin-text {
  font-size: 1.4rem;
  height: $vertical-rhythym-base;
  line-height: $vertical-rhythym-base;
  display: inline-block;
}
